*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style: none;
	font-family: cursive;

}

.navbar{
	width: 100%;
	position: fixed;
	background-color: crimson;
	padding: 15px 0px;

}
.navbar .max-width{

	width: 1300px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	align-content: auto;
}
.logo a{
	color: #fff;
	font-size: 40px;
	font-weight: 500;
}
//////////////////////////////*******************************************************************///////////////////////////////////////////////////////////////
.logo span{
	color: #000;
}
.menu li{
	display: inline-block;
}
.menu{
	padding-top: 10px;
}
.menu li a{
	color: white;
	font-size: 20px;
	font-weight: 200;
	font-family: script;
	margin-left: 15px;
	margin-right: 100px;
	transition: color 1s;
	}
	


.menu li a:hover{
	color: purple;}



////////////////////////////////////******************************************////////////////////////////////////////////////////////////

	.image1{background: url('file:///C:/Users/MONEY%20EXPRESS/Desktop/brittany-griffin-DM9hp5a7IPw-unsplash.jpg');

					background-repeat:no-repeat;
					display:flex;
					height:100%;
					width:100%;
					object-fit: cover;



}


.text1{margin-top: 50px;

	margin-left: 200px;
	word-spacing: 25px;
}

.text1 p{font-size: 30px;
			color:gray;
		}


.text2{margin-top: 30px;

	margin-left: 200px;
	}

	.pole{font-size:100px;
		color:red;}


		.pole1{padding-left: 250px;
			font-size: 45px;



		}

		.text3{margin-top: 30px;

	margin-left: 280px;
	word-spacing: 35px;
	}


.text4{
margin-top: 30px;

	margin-left: 300px;
	}



	.text4 p{font-size:30px;
		width:500px;
	 }


.num{padding-left: 120px;
}

.texte{margin-top: 50px;
	margin-left: 200px;
}

.texte p{width: 700px;
	padding-left: 100px;
	justify-content: justify;
	color:gray;
}

.texte span{color:red;
}




.portion1{margin-left: 300px;

		margin-top: 50px;
}

.portion1 p{font-size: 35px;
}




.tour1{margin-left: 250px;
}


.polh1{width:500px;
		height: 450px;
		object-fit: cover;

		margin-top: 20px;
	padding-top: 30px;
		}


		.tour1 p{font-size: 25px;
			color :red;
		}








.tour2{margin-left: 250px;
}


.polh2{width:500px;
		height: 450px;
		object-fit: cover;
		margin-top: 20px;
	padding-top: 30px;
		}


		.tour2 p{font-size: 25px;
			color :red;
		}






		.tour3{margin-left: 250px;
}


.polh3{width:500px;
		height: 450px;

		margin-top: 20px;
	padding-top: 30px;
	object-fit: cover;
		}


		.tour3 p{font-size: 25px;
			color :red;
		}




		.portion4{margin-left: 300px;

		}

		.portion4 p{
			padding-top: 20px;
			font-size: 15px;
		}





	.polh6 {background: url('file:///C:/Users/MONEY%20EXPRESS/Desktop/brittany-griffin-DM9hp5a7IPw-unsplash.jpg');

					background-repeat:no-repeat;
					display:flex;
					height:50%;
					width:100%;
					object-fit: cover;
					



}



///////////////////////////////////////////////////****************************************///////////////////////////////////////////////////////


.textl{width:100%;
height:500px;
background: black;
}


		.texte5{width: 
	padding-left: 100px;
	justify-content: justify;
	color:red;
	font-size: 30px;
	text-align: left;
	color:red;
	background: black;
}



.pot1{margin-top: 20px;
}


.i1{margin-left: 100px;
	width:100px;
	height:150px;
margin-top: 30px;
}


.i2{padding-left: 20px;
	width:100px;
	height:150px;
margin-top: 30px;
}

.i3{padding-left: 20px;
	width:100px;
	height:150px;
margin-top: 30px;
}



.i4{padding-left: 20px;
	width:100px;
	height:150px;
margin-top: 30px;
}



