*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style: none;
	font-family: cursive;

}

.navbar{
	width: 100%;
	position: fixed;
	background-color: crimson;
	padding: 15px 0px;

}
.navbar .max-width{

	width: 1300px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	align-content: auto;
}
.logo a{
	color: #fff;
	font-size: 40px;
	font-weight: 500;
}
//////////////////////////////*******************************************************************///////////////////////////////////////////////////////////////
.logo span{
	color: #000;
}
.menu li{
	display: inline-block;
}
.menu{
	padding-top: 10px;
}
.menu li a{
	color: white;
	font-size: 20px;
	font-weight: 200;
	font-family: script;
	margin-left: 15px;
	margin-right: 100px;
	transition: color 1s;
	}
	


.menu li a:hover{
	color: purple;}




	//////////////////////////////////////////////////////***********************************///////////////////////////////////////////////

.portion{margin-top: 200px;
}


	.image1{width: 500px;
		height: 400px;
		padding-top: 100px;
		margin-left: 50px;

	}

	.image2{width: 500px;
		height: 400px;
		padding-top: 100px;
		padding-left: 15px;

	}



	.image3{width: 500px;
		height: 400px;
		padding-top: 100px;
		padding-left: 15px;

	}




	.image4{width: 500px;
		height: 400px;
	
		margin-left: 50px;
		padding-top: 30px;

	}

	

	.image5{width: 500px;
		height: 400px;
		padding-top: 30px;
		padding-left: 15px;

	}



	.image5{width: 500px;
		height: 400px;
		padding-top: 30px;
		padding-left: 15px;

	}

	.image6{width: 500px;
		height: 400px;
		padding-top: 30px;
		padding-left: 15px;

	}






	.potr{margin-top: 20px;
	}

	.image21{width: 400px;
		height: 300px;
		padding-top: 10px;
		margin-top: 10px;
		margin-left: 70px;

	}



	.image22{width: 400px;
		height: 300px;
		padding-top: 10px;
		margin-top: 10px;
	padding-left: 15px;
3
	}



	.image23{width: 400px;
		height: 300px;
		padding-top: 10px;
		margin-top: 10px;
	padding-left: 15px;

	}

	.image24{width: 400px;
		height: 300px;
		padding-top: 10px;
		margin-top: 10px;
	padding-left: 15px;

	}


	
	
